body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #111;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #root {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .divshit {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin-bottom: 20px;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .content {
    display: flex;
    flex-grow: 1;
  }
  
  .left-section,
  .middle-section,
  .right-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .left-section,
  .middle-section {
    flex-basis: 30%;
  }
  
  .right-section {
    flex-basis: 40%;
  }
  
  .existing-components,
  .selected-components,
  .potential-components {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    flex-grow: 1;
  }
  
  h2 {
    margin-top: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  li:hover {
    background-color: #444;
  }
  
  .remove-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .category {
    margin-bottom: 20px;
  }
  
  .category h3 {
    margin-top: 0;
  }
  
  #submitButton {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #submitButton:hover {
    background-color: #ff4d4d;
  }